@import url("https://fonts.googleapis.com/css?family=Expletus+Sans:700|Montserrat:400,600,700&display=swap");
html {
  margin: 0;
  padding: 0;
  font-size: 4vw;
  --textColor: #FFFFFF;
  --dividerColor: #323232;
  --background: #252525;
  color: #FFFFFF;
}

html[data-theme="light"] {
  --textColor: #000000;
  --dividerColor: #e1e1e1;
  --background: #FFFFFF;
  color: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: var(--background);
  max-width: 100%;
  max-height: 100%;
}

main {
  margin: auto;
  padding: 0 2rem 0 2rem;
  max-width: 600px;
}

p {
  font-size: 1rem;
  margin: 0.5rem 0 0.5rem 0;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  margin: 1.5rem 0 1.5rem 0;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
}

h3 {
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1.5rem 0 0.5rem 0;
}

header {
  margin: 1rem;
  padding: 0 0 1rem 0;
  border-bottom-color: var(--dividerColor);
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

header nav {
  margin: 0;
  padding: 0.4rem 0 0 0;
  width: 100%;
  text-align: right;
  white-space: nowrap;
}

header nav .nav {
  color: var(--textColor);
  font-size: 1rem;
  padding: 0;
  margin: 0 0.75rem;
  text-decoration: none;
}

header nav svg {
  height: 1rem;
  width: 1rem;
  margin: 0 0 -0.1rem 0.5rem;
  fill: var(--textColor);
  cursor: pointer;
}

header nav .here {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin: 2rem 1rem 1rem 1rem;
  border-top-color: var(--dividerColor);
  border-top-width: 1px;
  border-top-style: solid;
}

ul {
  list-style-position: inside;
}

ul li {
  font-size: 1rem;
}

form {
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: #00E699;
  width: 100%;
  height: auto;
}

form h3 {
  margin: 1rem;
}

form .formbutton {
  height: 2rem;
  width: 12rem;
  margin: 1rem auto;
  padding: 0;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
  background-color: #00E699;
  border-color: #00E699;
  color: #000000;
}

form .formbutton:hover {
  cursor: pointer;
}

form .formtext {
  height: 1rem;
  width: 80%;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 1rem;
  border-width: 0.1rem;
  border-style: solid;
  background-color: var(--background);
  border-color: #00E699;
  color: var(--textColor);
}

form .formtextarea {
  height: 5rem;
  width: 80%;
  margin: 0 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  border-radius: 1rem;
  border-width: 0.1rem;
  border-style: solid;
  background-color: var(--background);
  border-color: #00E699;
  color: var(--textColor);
  resize: none;
}

form .formtext:focus, form .formbutton:focus, form .formtextarea:focus {
  outline: none;
}

form .formlabel {
  padding: 0 1rem;
  margin: 1rem 1rem 0.2rem 1rem;
  text-align: center;
}

form .center {
  text-align: center;
}

#themeswitcher_checkbox {
  display: none;
  margin: 0;
  padding: 0;
}

#server-promo-img {
  width: 100%;
  height: auto;
}

.logo {
  margin: 0;
  padding: 0 2rem 0.2rem 0;
  font-family: "Expletus Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: lowercase;
  font-weight: 700;
  text-decoration: none;
  color: #00E699;
  float: left;
}

.link {
  color: #00AAFF;
  text-decoration: none;
  font-size: 1rem;
}

#status-div {
  width: 100%;
  height: auto;
  background-color: var(--background);
  color: var(--textColor);
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
  border-color: #00E699;
}

#status-div h3, #status-div p {
  padding: 0;
  margin: 0.5rem 1rem;
}

#status-div #status-maintenance-text {
  margin: 0.5rem 1rem 0 1rem;
}

#status-div #status-maintenance-datetime {
  margin: 0 1rem 0.5rem 1rem;
}

#status-div #status-status, #status-div #status-players, #status-div #status-mspt, #status-div #status-maintenance-datetime {
  color: #999999;
}

.button_container {
  height: 1.5rem;
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
  padding: 0 0 0.5rem 0;
  text-align: center;
}

.button {
  height: 1.5rem;
  line-height: 1.5rem;
  width: 11.5rem;
  margin: auto;
  padding: 0;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--textColor);
  display: inline-block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 1rem;
  border-width: 0.25rem;
  border-style: solid;
}

.btn-slashl {
  background-color: #EEFF00;
  border-color: #EEFF00;
  color: #000000;
  font-weight: 600;
}

.btn-minecraft {
  background-color: var(--background);
  border-color: #7DAB5D;
}

.btn-contact {
  background-color: var(--background);
  border-color: #D44F4F;
}

.btn-underthepebble {
  background-color: var(--background);
  border-color: #999999;
}

.btn-dev {
  background-color: var(--background);
  border-color: #ff824d;
}

.btn-dev-project {
  background-color: var(--background);
  border-color: #4DCAFF;
}

.fineprint {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1450px) {
  .bigscreen {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  html {
    font-size: 30px;
  }
  header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  footer {
    padding: 0.5rem 0;
    float: bottom;
  }
  footer p {
    float: left;
  }
  footer a {
    float: right;
  }
}
